body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.home {
  background-color: #232536;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
  }
  &__navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 52px;
    color: white;
  }
}
.blog {
  &__img {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    margin-top: 96px;
  }
  &__user-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  &__title {
    width: 740px;
    font-size: 48px;
    color: #232536;
  }
  &__text {
    width: 719px;
    font-size: 16px;
    color: #232536;
  }
}
.headline {
  &__wrapper {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    width: 842px;
    font-size: 36px;
    color: #232536;
  }
  &__text {
    width: 836px;
    font-size: 16px;
  }
  &__title-h {
    font-size: 24px;
    color: #232536;
  }
}
.login {
  &__wrapper {
    position: relative;
    background-color: #666dff;
    width: 1281px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__img{
    position: absolute;
    left: 0%;
    top: 0%;
  }
  &__wrap-text{
    margin-top: 96px;
  }
 &__sup-title{
  margin-top: 96px; 
  font-size: 14px;
  color: #FFFFFF;
 }
 &__title{
  margin-top: 13px;
  width: 488px;
  font-size: 36px;
  color: #FFFFFF;
 }
 &__input{
  width: 454px;
  height: 64px;
  text-align: start;
  border: none;
 }
&__input:focus{
  outline: none;
}

}