.container {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Poppins";
}

.home {
  background-color: #232536;
}
.home__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home__navbar-menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  color: white;
}
.home__items {
  filter: brightness(60%);
}

.hero {
  background-color: #ffe6d2;
}
.hero__wrapper {
  width: 624px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 96px;
}
.hero__container {
  display: flex;
  justify-content: space-around;
}
.hero__sup-title {
  font-size: 14px;
  color: #232536;
  margin-bottom: 0;
  font-style: bold;
}
.hero__title {
  width: 600px;
  font-size: #232536;
  font-size: 48px;
  margin-top: 0;
}
.hero__text {
  width: 624px;
  font-size: 16px;
  color: #232536;
  margin-top: 0;
}
.hero__button {
  width: 231px;
  height: 64px;
  background: linear-gradient(#444cfc, #444cfc);
  position: relative;
  border: none;
  font-size: 16px;
  color: white;
}
.hero__img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 29px;
}
.hero__menu {
  font-size: 24px;
  display: flex;
  align-items: center;
}
.hero .item {
  margin-top: 17px;
}

.sup-title {
  font-size: 24px;
  color: #232536;
}

.title {
  font-size: 36px;
  color: #232536;
}

.text {
  font-size: 16px;
  color: #232536;
}

.wrap-text {
  width: 624px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 96px;
}

.develop {
  background-color: #ecf8f9;
}

.consulting {
  background-color: #f9f9ff;
}

.develop,
.tech,
.design,
.consulting,
.informition {
  padding-bottom: 96px;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 161px;
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__wrapper {
  position: relative;
}
.process__sup-title {
  font-size: 14px;
  color: #232536;
}
.process__title {
  width: 733px;
  font-size: 48px;
  color: #232536;
}
.process__text {
  width: 642px;
  font-size: 16px;
  color: #232536;
}
.process__img {
  position: absolute;
  top: 15%;
  right: 10%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__wrapper {
  margin: 0;
}
.card__bottom-img {
  display: flex;
  margin: 0;
}
.card__wrap-text {
  width: 395px;
  border: 1px solid rgba(35, 37, 54, 0.168627451);
  display: flex;
}
.card .cards-container {
  gap: 48px;
  width: 1480px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 96px;
}
.card__title {
  margin-left: 16px;
  margin-top: 30px;
  margin-bottom: 6px;
  font-size: 16px;
  color: #232536;
}
.card__text {
  margin-left: 16px;
  width: 289px;
  font-size: 16px;
  color: #232536;
  margin-bottom: 28px;
}

.login__wrapper {
  position: relative;
  background-color: #666dff;
  width: 1281px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
}
.login__wrap-text {
  margin-top: 96px;
}
.login__img {
  position: absolute;
  left: 0%;
  top: 0%;
}
.login__sup-title {
  font-size: 14px;
  color: #ffffff;
}
.login__title {
  margin-top: 13px;
  width: 488px;
  font-size: 36px;
  color: #ffffff;
}
.login__input {
  width: 454px;
  height: 64px;
  text-align: start;
  border: none;
}
.login__input:focus {
  outline: none;
}/*# sourceMappingURL=styles.css.map */